---
http_interactions:
- request:
    method: post
    uri: https://okta-test.okta.com/api/v1/policies
    body:
      encoding: UTF-8
      string: '{"description":null,"name":"Created","priority":"1","status":"ACTIVE","system":false,"type":"ACCESS_POLICY","conditions":null,"_embedded":{"resourceType":"string"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-okta-request-id:
      - 9af7a7bde8d97341c1b7ffdb9ed54731
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '499'
      x-rate-limit-reset:
      - '1744593837'
      accept-ch:
      - Sec-CH-UA-Platform-Version
    body:
      encoding: UTF-8
      string: '{"id":"rasdf0qp14uoAC9Pw1d7","status":"ACTIVE","name":"string","priority":1,"system":false,"conditions":null,"created":"2025-04-14T01:22:57.000Z","lastUpdated":"2025-04-14T01:22:57.000Z","_links":{"mappings":{"href":"https://okta-test.okta.com/api/v1/policies/rasdf0qp14uoAC9Pw1d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://okta-test.okta.com/api/v1/policies/rasdf0qp14uoAC9Pw1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://okta-test.okta.com/api/v1/policies/rasdf0qp14uoAC9Pw1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://okta-test.okta.com/api/v1/policies/rasdf0qp14uoAC9Pw1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
  recorded_at: Mon, 14 Apr 2025 01:22:56 GMT
recorded_with: VCR 6.0.0
