---
http_interactions:
- request:
    method: get
    uri: https://okta-test.okta.com/api/v1/policies/00pijwtasdfz4JsuA1d7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-okta-request-id:
      - a8fc8783cb51a4cbe08a96e55801aca6
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '499'
      x-rate-limit-reset:
      - '1744594584'
      accept-ch:
      - Sec-CH-UA-Platform-Version
    body:
      encoding: UTF-8
      string: '{"id":"00pijwtasdfz4JsuA1d7","status":"ACTIVE","name":"Idp Discovery Policy","description":"The default IdP Discovery Policy","priority":1,"system":true,"conditions":null,"created":"2024-11-21T22:32:22.000Z","lastUpdated":"2024-11-21T22:32:22.000Z","_links":{"self":{"href":"https://okta-test.okta.com/api/v1/policies/00pijwtasdfz4JsuA1d7","hints":{"allow":["GET","PUT"]}},"rules":{"href":"https://okta-test.okta.com/api/v1/policies/00pijwtasdfz4JsuA1d7/rules","hints":{"allow":["GET","POST"]}}},"type":"IDP_DISCOVERY"}'
  recorded_at: Mon, 14 Apr 2025 01:35:24 GMT
recorded_with: VCR 6.0.0
