---
http_interactions:
- request:
    method: get
    uri: https://okta-test.okta.com/api/v1/policies?type=IDP_DISCOVERY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-okta-request-id:
      - acaeca81d6cb202a052cae853c89c13d
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '499'
      x-rate-limit-reset:
      - '1744343355'
      accept-ch:
      - Sec-CH-UA-Platform-Version
      link:
      - <https://okta-test.okta.com/api/v1/policies?type=IDP_DISCOVERY>;
        rel="self"
    body:
      encoding: UTF-8
      string: '[{"id":"00pijwtasdfz4JsuA1d7","status":"ACTIVE","name":"Idp Discovery
        Policy","description":"The default IdP Discovery Policy","priority":1,"system":true,"conditions":null,"created":"2024-11-21T22:32:22.000Z","lastUpdated":"2024-11-21T22:32:22.000Z","_links":{"self":{"href":"https://okta-test.okta.com/api/v1/policies/00pijwtasdfz4JsuA1d7","hints":{"allow":["GET","PUT"]}},"rules":{"href":"https://okta-test.okta.com/api/v1/policies/00pijwtasdfz4JsuA1d7/rules","hints":{"allow":["GET","POST"]}}},"type":"IDP_DISCOVERY"}]'
  recorded_at: Fri, 11 Apr 2025 03:48:15 GMT
recorded_with: VCR 6.0.0
