---
http_interactions:
- request:
    method: get
    uri: https://okta-test.okta.com/api/v1/mappings?sourceId=aprofilesourceid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-okta-request-id:
      - b1e5d20bb538507aacda8455566507c1
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '499'
      x-rate-limit-reset:
      - '1745990108'
      accept-ch:
      - Sec-CH-UA-Platform-Version
      link:
      - <https://okta-test.okta.com/api/v1/mappings?limit=20>; rel="self"
    body:
      encoding: UTF-8
      string: '[{"id":"aprofilemappingid","source":{"id":"aprofilesourceid","name":"saml_idp","type":"appuser","_links":{"self":{"href":"https://okta-test.okta.com/api/v1/apps/aprofilesourceid"},"schema":{"href":"https://okta-test.okta.com/api/v1/meta/schemas/apps/aprofilesourceid/default"}}},"target":{"id":"aprofiletargetid","name":"user","type":"user","_links":{"self":{"href":"https://okta-test.okta.com/api/v1/meta/types/user/aprofiletargetid"},"schema":{"href":"https://okta-test.okta.com/api/v1/meta/schemas/user/auserschemaid"}}},"_links":{"self":{"href":"https://okta-test.okta.com/api/v1/mappings/aprofilemappingid"}}}]'
  recorded_at: Wed, 30 Apr 2025 05:14:22 GMT
recorded_with: VCR 6.0.0
